@import url('style-svg.css');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.CodeMirror { height: 100% !important; }

.grapes-bg-color{
    background-color: #444;
}

#loading-screen{
    top:0px;
    left:0px;
    position: absolute ;
    z-index: 10;
    height:100vh;
    width:100vw;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}

#notifications-container{
    border-radius: 0.25em;
    position: absolute;
    width: 300px;
    top:50px;
    margin:10px;
    max-height:80vh;
    overflow-y: auto;
    font-size: small;
    z-index:100;
    background-color: rgba(54,55,55,0.7);
}


/*
Scroll Bar Definition
*/
/* width */
::-webkit-scrollbar {
    width: 5px;
  }

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}
/* End Scroll bar*/


.collapsed > #panel__layout-managers-actions > #panel__render-panels-actions{
    display: none!important;
}
.collapsed > #panel__layout-managers-actions > #panel__render-panels-actions{
    display: none!important;
}
.panels-container{
    display: block
}
.panels-container.collapsed{
    display: none
}



#editor-container{
    display: flex;
    flex-direction: column;
    height:100%
  }

.gjs-cv-canvas {
    top: 0px !important;
    height: 100% !important;
    width: 100%  !important;
}

#gjs{
    flex:auto;
}


.cm-module-widget-selected {
    color: #ffbb00;
}
